#include "../include/resources.h"

// Icons
ID_ICON ICON "icon.ico"

// Menu
ID_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...\tCtrl+Shift+S", ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_HELP_ABOUT
    END
END

// Accelerators
ID_ACCELERATOR ACCELERATORS
BEGIN
    "N", ID_FILE_NEW, VIRTKEY, CONTROL, NOINVERT
    "O", ID_FILE_OPEN, VIRTKEY, CONTROL, NOINVERT
    "S", ID_FILE_SAVE, VIRTKEY, CONTROL, NOINVERT
    "S", ID_FILE_SAVE_AS, VIRTKEY, CONTROL, SHIFT, NOINVERT
END

// Manifests
ID_MANIFEST MANIFEST "app.manifest"
