#include <winver.h>

#include "plaatcode.h"

// Icon
ID_ICON ICON "../res/icon.ico"

// Menu
ID_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...\tCtrl+Shift+S", ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_HELP_ABOUT
    END
END

// Accelerators
ID_ACCELERATOR ACCELERATORS
BEGIN
    "n", ID_FILE_NEW, VIRTKEY, CONTROL, NOINVERT
    "o", ID_FILE_OPEN, VIRTKEY, CONTROL, NOINVERT
    "s", ID_FILE_SAVE, VIRTKEY, CONTROL, NOINVERT
    "s", ID_FILE_SAVE_AS, VIRTKEY, CONTROL, SHIFT, NOINVERT
END

// Manifest
1 MANIFEST "../res/plaatcode.manifest"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
    FILEFLAGS VS_FF_DEBUG | VS_FF_PRERELEASE
#else
    FILEFLAGS 0
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "CompanyName", "PlaatSoft"
            VALUE "FileDescription", "A simple code editor made by PlaatSoft for Windows"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "PlaatCode"
            VALUE "LegalCopyright", "Copyright 2020 PlaatSoft"
            VALUE "OriginalFilename", "plaatcode.exe"
            VALUE "ProductName", "PlaatCode"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0
    END
END
